.ProfilePage {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ProfilePage-Container {
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

.ProfilePage-UserInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ProfilePage-Name {
    font-weight: bold;
    font-size: 20px;
}

.ProfilePage-Logout {
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
}

.ProfilePage-Balance {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.ProfilePage-SendButton {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;

}

.ProfilePage-Sort {
    width: 200px;
    display: flex;
    align-items: center;
}

.ProfilePage-NameValue,
.ProfilePage-BalanceValue {
    color: green;
}
