.RegistrationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.RegistrationPage-Form {
    transition-duration: 1000ms;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.RegistrationPage-Actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
}
.RegistrationPage-Title {
    margin-bottom: 30px;

}
.RegistrationPage-OpenRegistrationBtn {
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
}
.RegistrationPage-RegistrationInfo {
    display: flex;
}
.RegistrationPage-SignUpButton {
    display: flex;
    justify-content: center;
}
